html {
    background: linear-gradient(to bottom, #5A4A9C, #87CEEB);
    background-repeat: no-repeat;
    height: 100%;
}

body {
    font-family: 'Montserrat', 'sans-serif', 'Mansalva', cursive;
}

h2, footer {
    font-size: 10px;
}

button {
    border: none;
}

.itens-comprados {
text-decoration: line-through;
}

.borda-lista {
    border-bottom:dashed 2px #9900ff;
}

input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}

